/broodjesapp/.web-server-pid
/broodjesapp/app/config/parameters.yml
/broodjesapp/build/
/broodjesapp/phpunit.xml
/broodjesapp/var/*
!/broodjesapp/var/cache
/broodjesapp/var/cache/*
!/broodjesapp/var/cache/.gitkeep
!/broodjesapp/var/logs
/broodjesapp/var/logs/*
!/broodjesapp/var/logs/.gitkeep
!/broodjesapp/var/sessions
/broodjesapp/var/sessions/*
!/broodjesapp/var/sessions/.gitkeep
!/broodjesapp/var/SymfonyRequirements.php
/broodjesapp/vendor/
/broodjesapp/web/bundles/