{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <img class="d-block mx-auto mb-4" src="https://www.talent-it.be/wp-content/uploads/2017/08/logo-talent-it-orange-2.png" alt="" width="200" height="45">
            <div id="welcome">
                <h1>Broodjes met Talent!!</h1>
            </div>

            {% if bestelling %}
                {% include('bestelling/index.html.twig') %}
            {% else %}
                {% include('bestelling/new.html.twig') %}
            {% endif %}

        </div>
    </div>
{% endblock %}
