{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>Bestelling:</h3>
        <p>Hieronder kan je de huidige bestelling aanpassen.</p>
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-outline-primary" type="submit" value="Create" />
        {{ form_end(edit_form) }}
    </div>
{% endblock %}