{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>Nieuwe bestelling:</h3>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ block('appbundle_brood') }}
            <input class="btn btn-outline-primary" type="submit" value="Create" />
        {{ form_end(form) }}
    </div>
{% endblock %}